@font-face {
    font-family: "Pragmatica Ext";
    src: local('Pragmatica Extra Bold'), local('Pragmatica-Extra-Bold'),
        url('../fonts/Pragmatica-ExtraBold.woff2') format('woff2'),
        url('../fonts/Pragmatica-ExtraBold.woff') format('woff'),
        url('../fonts/Pragmatica-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "SF UI Display Regular";
    src: local('San Francisco(SF UI) Text Regular'), local('San-Francisco(SF-UI)-Text-Regular'),
        url('../fonts/SFUIText-Regular.woff2') format('woff2'),
        url('../fonts/SFUIText-Regular.woff') format('woff'),
        url('../fonts/SFUIText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SF UI Display";
    src: local('San Francisco(SF UI) Text Light'), local('San-Francisco(SF-UI)-Text-Light'),
        url('../fonts/SFUIText-Light.woff2') format('woff2'),
        url('../fonts/SFUIText-Light.woff') format('woff'),
        url('../fonts/SFUIText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco(SF UI)';
    src: local('San Francisco(SF UI) Display Bold'), local('San-Francisco(SF-UI)-Display-Bold'),
        url('../fonts/SFUIDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Bold.woff') format('woff'),
        url('../fonts/SFUIDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}